In [41]:
import pandas as pd
import os

In [46]:
# Define o caminho do diretório
diretorio = 'recursos'
# Lista todos os arquivos e diretórios no diretório especificado
arquivos = os.listdir(diretorio)

# Filtra para listar apenas arquivos, ignorando subdiretórios
arquivos = [arquivo for arquivo in arquivos if os.path.isfile(os.path.join(diretorio, arquivo))]

# Cria um dataframe com i nome dos arquivos.
dfArquivos = pd.DataFrame(arquivos, columns=["Arquivos"])

print(dfArquivos)

          Arquivos
0    Basico_AC.XLS
1    Basico_AL.XLS
2    Basico_AM.XLS
3    Basico_AP.XLS
4    Basico_BA.XLS
5    Basico_CE.XLS
6    Basico_DF.XLS
7    Basico_ES.XLS
8    Basico_GO.XLS
9    Basico_MA.XLS
10   Basico_MG.xls
11   Basico_MS.XLS
12   Basico_MT.XLS
13   Basico_PA.XLS
14   Basico_PB.XLS
15   Basico_PE.XLS
16   Basico_PI.XLS
17   Basico_PR.csv
18   Basico_RJ.xls
19   Basico_RN.XLS
20   Basico_RO.XLS
21   Basico_RR.XLS
22   Basico_RS.XLS
23   Basico_SC.XLS
24   Basico_SE.XLS
25  Basico_SP1.XLS
26  Basico_SP2.xls
27   Basico_TO.XLS

In [48]:
#Lê o arquivo na posição 1 da lista
print(arquivos[1])

Basico_AL.XLS

In [36]:
dfAc = pd.read_excel("recursos/Basico_AC.XLS")
dfAl = pd.read_excel("recursos/Basico_AL.XLS")
dfAm = pd.read_excel("recursos/Basico_AM.XLS")
dfAl = pd.read_excel("recursos/Basico_AL.XLS")
dfAm = pd.read_excel("recursos/Basico_AM.XLS")
dfAc.head()

,Cod_setor,Cod_Grandes Regiões,Nome_Grande_Regiao,Cod_UF,Nome_da_UF,Cod_meso,Nome_da_meso,Cod_micro,Nome_da_micro,Cod_RM,...,V003,V004,V005,V006,V007,V008,V009,V010,V011,V012
0,120001305000001,1,Região Norte,12,Acre,1202,Vale do Acre,12004,Rio Branco,0,...,"3,39","2,6","1368,91","37074622,68","1601,8","43033612,85","758,58","13786625,7","1249,62","22114423,28"
1,120001305000002,1,Região Norte,12,Acre,1202,Vale do Acre,12004,Rio Branco,0,...,"3,52","2,63","737,47","820504,57","805,8","841534,36","407,43","510601,28","716,42","676770,34"
2,120001305000003,1,Região Norte,12,Acre,1202,Vale do Acre,12004,Rio Branco,0,...,"3,53","2,88","606,4","1108707,24","767,15","1279744,31","411,93","757913,63","689,39","1077559,69"
3,120001305000004,1,Região Norte,12,Acre,1202,Vale do Acre,12004,Rio Branco,0,...,"3,43","2,48","758,51","349158,22","837,52","318721,06","426,47","278588,4","684,34","270475,43"
4,120001305000005,1,Região Norte,12,Acre,1202,Vale do Acre,12004,Rio Branco,0,...,"3,18","2,32","689,61",332081,"735,59","320270,31","446,56","833770,63","748,21","1173535,4"

In [37]:
dfAc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 874 entries, 0 to 873
Data columns (total 32 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Cod_setor            874 non-null    int64
 1   Cod_Grandes Regiões  874 non-null    int64
 2   Nome_Grande_Regiao   874 non-null    object
 3   Cod_UF               874 non-null    int64
 4   Nome_da_UF           874 non-null    object
 5   Cod_meso             874 non-null    int64
 6   Nome_da_meso         874 non-null    object
 7   Cod_micro            874 non-null    int64
 8   Nome_da_micro        874 non-null    object
 9   Cod_RM               874 non-null    int64
 10  Nome_da_RM           874 non-null    object
 11  Cod_municipio        874 non-null    int64
 12  Nome_do_municipio    874 non-null    object
 13  Cod_distrito         874 non-null    int64
 14  Nome_do_distrito     874 non-null    object
 15  Cod_subdistrito      874 non-null    int64
 16  Nome_do_subdistrito  874 non-null    object
 17  Cod_bairro           874 non-null    int64
 18  Nome_do_bairro       874 non-null    object
 19  Situacao_setor       874 non-null    int64
 20  V001                 874 non-null    int64
 21  V002                 874 non-null    int64
 22  V003                 874 non-null    object
 23  V004                 874 non-null    object
 24  V005                 874 non-null    object
 25  V006                 874 non-null    object
 26  V007                 871 non-null    object
 27  V008                 871 non-null    object
 28  V009                 874 non-null    object
 29  V010                 874 non-null    object
 30  V011                 873 non-null    object
 31  V012                 873 non-null    object
dtypes: int64(13), object(19)
memory usage: 218.6+ KB

In [38]:
nomes_unicos_uf = dfAc["Nome_da_UF "].unique()

print(nomes_unicos_uf)

['Acre']

In [39]:
result = pd.concat([dfAc, dfAl, dfAm])
estadosUnicos = result["Nome_da_UF "].unique()
df_unicos = pd.DataFrame(estadosUnicos, columns=["Nome_da_UF "])
print(df_unicos)

  Nome_da_UF
0        Acre
1     Alagoas
2    Amazonas

In [30]:
df_unicos.to_excel('recursos/Cod_municipio.xlsx', index=False)